h1 {
    color: red;
    border: 5px solid green;
    width: 33%;
    background-color: yellow;
    padding: 30px; 
    border-radius: 10px;
    -webkit-box-shadow: 14px 20px 44px -7px rgba(230,14,230,1);
    -moz-box-shadow: 14px 20px 44px -7px rgba(230,14,230,1);
    box-shadow: 14px 20px 44px -7px rgba(230,14,230,1);
}
table {
    width: 50%;
    margin: 2em;
    td.contenido {
        border: 1px solid lightgray;
    }
    th.cabecera {
        background-color: lightgray;
    }
}